@font-face {
  font-family: 'CNNSans';
  src: url('/fonts/CNNSansDisplay-Light.ttf');
}

body {
	font-family: "CNNSans", "Helvetica", "sans-serif";
}
.navbar-brand>img {
	width:18px;
}
.actions a, .actions span{
	margin-right:1em;
}
.actions a.btn {
	width:100%;
}
.actionIcon {
	float:right;
}
.actionLabel{
	float:left;
}
.actionInactive {
	opacity: .2;
}
div.paging{
	text-align:center;
}
div.actions{
	padding-left:30px;
}
.actions .btn{
	margin-bottom:1em;
}
.charCounter{
	color:#d0d0d0;
	text-align:right;
}
.pointer {
	cursor:pointer;
}
select.imageSelect {
	height:250px;
}
.picPreview img{
	height:250px;
	max-width:100%;
	border:solid silver 1px;
}
.indexThumbnail{
	height:80px;
}

.clear {
	clear:both;
}

.sortable-placeholder{
	height:100px;
	background-color:#808080 !important;
}

#vidplayer{
	height:250px;
	width:444px;
}
/* PREVENT TEXTAREA RESIZE */
textarea {
    resize: none;
}
/* SINCE WE HAVE A FIXED NAVBAR, WE BRING EVERYTHING ELSE DOWN */
body {
	padding-top: 60px;
}
.page-header {
	margin-top:0;
}
/* MAKE NAVBAR ICON TAKE UP THE FULL BOX */
.navbar-brand {
	padding:0;
}
.navbar-brand img{
	height:50px;
	width:inherit;
}
/*
	This seems to be necessary becase awesomeCheckbox requires a "checkbox" class
	on the wrapping div, but bootstrap has classes that mess up alignment if you do that.
*/
div.awesomeCheckbox {
	padding-left: 35px;
}
.table tbody>tr>td.text-middle{
    vertical-align: middle;
}
#locationTarget{
	position:absolute;
	font-size: 30px;
	color: white;
	text-shadow: 0 0 8px black;
	z-index:1000;
}
.automatedInput{
	opacity:.4;
	font-size:10px;
}
/* FONTAWESOME ICON BUTTONS DON'T QUITE LINE UP WITH GLYPHICON BUTTONS */
.fa {
	position:relative;
	top:1px;
}
/* PREVENT CHROME NUMBER SPINNERS ON INPUT BOXES */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*  FORCE LINEUP OF HORIZONTAL SETUP LABELS */
.control-label{
    line-height: 1em;
}
.control-label.control-label-two-lines{
	padding-top:3px;
}

/*  LIVE BATS DATA IN SETUP PAGES */
li.bats_choice {
	cursor:pointer;
}
li.bats_choice:hover {
	background-color:#f9f9f9;
}
.stockUp {
	color:green;
}
.stockDown {
	color:red;
}
.stockUnchanged {
	color:inherit;
}

/* LINECHART DATA DISPLAY */
.manageLinechartData {
	color: #337ab7;
    padding: 3px;
}
.manageLinechartData a{
	margin-right: .5em;
    border-radius: 30px 30px;
    border: solid 4px #337ab7;
	background-color: #337ab7;
	color: white;
}

.bottom-buffer {
	margin-bottom:20px;
}
#saveLoader {
	font-size:30px;
	color:#808080;
}
/* NAVBAR LOGO */
.homepageIcon{
	float:left;
	font-size:30px;
	top:-3px;
	position:relative;
}

.homepageIcon img{
	height:30px;
}
/* MAKES NAV DROPDOWNS OPEN ON HOVER */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
/*ANOTHER FIX TO MAKE GLYPHICON AND FONTAWESOME ICONS PLAY NICELY TOGETHER*/
.fa-btn-glyphicon-fix{
	padding:9px 13px;
}


/*form progress bar*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #c8dff3; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #337ab7; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #f5f5f5; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #c8dff3;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
